ignore-scripts=true
allow-git=none
min-release-age=3
registry=https://registry.npmjs.org/
save-exact=true
engine-strict=true
# remove the following line after @grafana/ui bumps it's react-router-dom version to v6
legacy-peer-deps=true
